.food{
    display: grid;
    grid-template-columns:4fr 1fr;
}
.food-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top:50px ;
    margin: 60px;
}
.food-container img{
    width: 310px; 
    /* padding: 10px 10px 0px 10px; */
    padding: 7px;
    border-radius: 10px;
}
.cart-container{
    background-color: palevioletred;
}
